DLTE-Java-Spring/DLTE-JavaSpring-tasks/DLTE-Java-Spring-Task-1148/src/main/resources/transactions.wsdl

<!-- transactions.wsdl -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://transactions.links"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://transactions.links">
    <wsdl:types>
        <xsd:schema targetNamespace="http://transactions.links">
            <xsd:include schemaLocation="transaction.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="filterByReceiverRequest">
        <wsdl:part element="tns:filterByReceiverRequest" name="filterByReceiverRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="newTransactionRequest">
        <wsdl:part element="tns:newTransactionRequest" name="newTransactionRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="filterByAmountResponse">
        <wsdl:part element="tns:filterByAmountResponse" name="filterByAmountResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRemarksTransactionRequest">
        <wsdl:part element="tns:updateRemarksTransactionRequest" name="updateRemarksTransactionRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeByDateRequest">
        <wsdl:part element="tns:removeByDateRequest" name="removeByDateRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="filterByReceiverResponse">
        <wsdl:part element="tns:filterByReceiverResponse" name="filterByReceiverResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeByDateResponse">
        <wsdl:part element="tns:removeByDateResponse" name="removeByDateResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="filterByAmountRequest">
        <wsdl:part element="tns:filterByAmountRequest" name="filterByAmountRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRemarksTransactionResponse">
        <wsdl:part element="tns:updateRemarksTransactionResponse" name="updateRemarksTransactionResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="newTransactionResponse">
        <wsdl:part element="tns:newTransactionResponse" name="newTransactionResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="filterBySenderResponse">
        <wsdl:part element="tns:filterBySenderResponse" name="filterBySenderResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="filterBySenderRequest">
        <wsdl:part element="tns:filterBySenderRequest" name="filterBySenderRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TransactionsPort">
        <wsdl:operation name="filterByReceiver">
            <wsdl:input message="tns:filterByReceiverRequest" name="filterByReceiverRequest"> </wsdl:input>
            <wsdl:output message="tns:filterByReceiverResponse" name="filterByReceiverResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newTransaction">
            <wsdl:input message="tns:newTransactionRequest" name="newTransactionRequest"> </wsdl:input>
            <wsdl:output message="tns:newTransactionResponse" name="newTransactionResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="filterByAmount">
            <wsdl:input message="tns:filterByAmountRequest" name="filterByAmountRequest"> </wsdl:input>
            <wsdl:output message="tns:filterByAmountResponse" name="filterByAmountResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateRemarksTransaction">
            <wsdl:input message="tns:updateRemarksTransactionRequest" name="updateRemarksTransactionRequest"> </wsdl:input>
            <wsdl:output message="tns:updateRemarksTransactionResponse" name="updateRemarksTransactionResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeByDate">
            <wsdl:input message="tns:removeByDateRequest" name="removeByDateRequest"> </wsdl:input>
            <wsdl:output message="tns:removeByDateResponse" name="removeByDateResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="filterBySender">
            <wsdl:input message="tns:filterBySenderRequest" name="filterBySenderRequest"> </wsdl:input>
            <wsdl:output message="tns:filterBySenderResponse" name="filterBySenderResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TransactionsPortSoap11" type="tns:TransactionsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="filterByReceiver">
            <soap:operation soapAction=""/>
            <wsdl:input name="filterByReceiverRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="filterByReceiverResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newTransaction">
            <soap:operation soapAction=""/>
            <wsdl:input name="newTransactionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="newTransactionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="filterByAmount">
            <soap:operation soapAction=""/>
            <wsdl:input name="filterByAmountRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="filterByAmountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateRemarksTransaction">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateRemarksTransactionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateRemarksTransactionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeByDate">
            <soap:operation soapAction=""/>
            <wsdl:input name="removeByDateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="removeByDateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="filterBySender">
            <soap:operation soapAction=""/>
            <wsdl:input name="filterBySenderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="filterBySenderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TransactionsPortService">
        <wsdl:port binding="tns:TransactionsPortSoap11" name="TransactionsPortSoap11">
            <soap:address location="http://localhost:8082/transRepo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
